<% if(success && success.length){ %> 
    <div class="flash text-light">
        <p> ✅ <%= success %> </p>
    </div>
<% } %> 

<% if(error && error.length) { %> 
    <div class="flash text-light">
        <p> ❌ <%= error %> </p>
    </div>
<% } %>