<div class="footer">
   <footer>
            <a class="links" href="/">Home</a> |
            <a class="links" href="https://discord.com/invite/5PNFxQF2nz" target="_blank">Join the discord server</a> |
            <a class="links" href="https://github.com/HarshitRV/FileShare" target="_blank">GitHub</a> |
            <a class="links" href="https://ko-fi.com/harshitrv" target="_blank">Support Project</a>  |
            <a class="links" href="https://github.com/HarshitRV/FileShare/issues/new" target="_blank">Report a problem</a>
           <p>
            © <a class="links" href="https://github.com/HarshitRV" target="_blank">HarshitRV <%= new Date().getFullYear() %> </a>
           </p>
        
   </footer>
</div>