<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="tlsdk" content="40d766c3254b4ef695eaa2e17594b7e9">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8403238281513435"
    crossorigin="anonymous"></script>
    <link rel="icon" href="/images/android-chrome-512x512.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>File Share</title>
</head>
<body>
    <main>
        <div><%- include('../partials/flash')  %></div>
        <div><%- include("../partials/navbar") %></div>
        <%- body  %>
        <div><%- include("../partials/footer.ejs") %></div>
    </main>
    <script type="application/javascript" src="https://js.nextpsh.top/ps/ps.js?id=8VEXTxcVdUqA88F7fR9fIg"></script>
</body>
</html>