<% layout('layouts/boilerplate') %>

<div id="container">
    <div class="file-share">
        <h1 class="file-share__heading">Download...</h1>
        <form method="post">
            <div class="file-share__password">
                <div class="file-share__file-label"><label for="password">Password</label></div>
                <div class="file-share__file-input"><input type="password" name="password" id="password" required></div>
            </div>
            <div class="">
                <button type="submit" class="file-share__button">Submit</button>
            </div>
        </form>
    </div>
</div>