<div id="container" class="box3">
    <% layout('layouts/boilerplate') %>
        <div class="file-share">
            <h1 class="awesome file-share__heading">Download...</h1>
            <form method="post">
                <!-- <div class="file-share__password">
                <div class="file-share__file-label"><label for="password">Password</label></div>
                <div class="file-share__file-input"><input type="password" name="password" id="password" required></div>
            </div> -->
                <div class="inputbox mt-4 mb-4">
                    <input type="password" name="password" id="password">
                    <span>Password</span>
                </div>
                <div class="">
                    <button type="submit" class="p-2 btn btn-danger w-100 file-share__button">Submit</button>
                </div>
            </form>
        </div>
</div>